body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title{
  padding-top: 18px;
  font-size: 24px;
  text-align: center;
  /* padding-bottom: 20px; */
}

.qr-reader{
  width: 100%;
}
.confirmationImg{
  height: 30px;
}

.field-name{
  font-weight: 600;
  color: #212529;
}
#logo{
  width: 210px;
}

.moreHeight{
  height: 320px;
}


